@import "./colors.scss";
@import "./mixins.scss";
@import "./cards.scss";
@import "./filter.scss";

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.results-wrapper {
  margin-bottom: 30px;
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loading {
  text-align: center;
  i {
    font-size: $fontSize-larger;
    margin-bottom: 5px;
    @include rotation-animation();
  }
}

// Media queries

@media (min-width: 1660px) {
  .results-wrapper {
    display: flex;
    justify-content: center;
  }
  .results {
    width: 1440px;
  }
}

@media (min-width: 2550px) {
  .results {
    width: 1920px;
  }
}
